<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_IPEiAI_CEeaE_NItBGtDFQ" specification="interface:&#xD;&#xA;&#xD;&#xA;in event evFinLeerSensores&#xD;&#xA;in event evFinLeerBotones&#xD;&#xA;in event evFinCambiarConstantes&#xD;&#xA;in event evSwitchToAndando&#xD;&#xA;in event evSwitchToConfigurando&#xD;&#xA;" name="application">
    <regions xmi:id="_3DHfo0opEee0ZsqKOimupA" name="Inicio">
      <vertices xsi:type="sgraph:Entry" xmi:id="_3DNmEUopEee0ZsqKOimupA">
        <outgoingTransitions xmi:id="_9eylsOhPEeyypbBkV2r0-g" specification="" target="_7WO9wOhPEeyypbBkV2r0-g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_x6CwIOhPEeyypbBkV2r0-g" name="CONFIGURANDO" incomingTransitions="_-P-LAOhPEeyypbBkV2r0-g _MDcsgOhREeyypbBkV2r0-g">
        <outgoingTransitions xmi:id="_T_7a4OhREeyypbBkV2r0-g" specification="evSwitchToAndando" target="_o497wOhQEeyypbBkV2r0-g"/>
        <regions xmi:id="_x6CwI-hPEeyypbBkV2r0-g" name="r1">
          <vertices xsi:type="sgraph:Entry" xmi:id="_NO3zQOhQEeyypbBkV2r0-g">
            <outgoingTransitions xmi:id="_StO5YOhQEeyypbBkV2r0-g" specification="" target="_OqTPfehQEeyypbBkV2r0-g"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_OqTPfehQEeyypbBkV2r0-g" specification="" name="LEER BOTONES" incomingTransitions="_StO5YOhQEeyypbBkV2r0-g _bG6hIOhQEeyypbBkV2r0-g">
            <outgoingTransitions xmi:id="_YwQy0OhQEeyypbBkV2r0-g" specification="evFinLeerBotones" target="_TXwdHehQEeyypbBkV2r0-g"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_TXwdHehQEeyypbBkV2r0-g" name="CAMBIAR CONSTANTES" incomingTransitions="_YwQy0OhQEeyypbBkV2r0-g">
            <outgoingTransitions xmi:id="_aZs10OhQEeyypbBkV2r0-g" specification="evFinCambiarConstantes" target="_V2FgvehQEeyypbBkV2r0-g"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_V2FgvehQEeyypbBkV2r0-g" name="ACTUALIZAR DISPLAY" incomingTransitions="_aZs10OhQEeyypbBkV2r0-g">
            <outgoingTransitions xmi:id="_bG6hIOhQEeyypbBkV2r0-g" specification="after 500ms" target="_OqTPfehQEeyypbBkV2r0-g"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_7WO9wOhPEeyypbBkV2r0-g" name="START" incomingTransitions="_9eylsOhPEeyypbBkV2r0-g">
        <outgoingTransitions xmi:id="_-P-LAOhPEeyypbBkV2r0-g" specification="evSwitchToConfigurando" target="_x6CwIOhPEeyypbBkV2r0-g"/>
        <outgoingTransitions xmi:id="_4iToIOhQEeyypbBkV2r0-g" specification="evSwitchToAndando" target="_o497wOhQEeyypbBkV2r0-g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_o497wOhQEeyypbBkV2r0-g" name="ANDANDO" incomingTransitions="_4iToIOhQEeyypbBkV2r0-g _T_7a4OhREeyypbBkV2r0-g">
        <outgoingTransitions xmi:id="_MDcsgOhREeyypbBkV2r0-g" specification="evSwitchToConfigurando" target="_x6CwIOhPEeyypbBkV2r0-g"/>
        <regions xmi:id="_o497w-hQEeyypbBkV2r0-g" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_soloLehQEeyypbBkV2r0-g" specification="" name="LEYENDO SENSORES" incomingTransitions="_vmdHcOhQEeyypbBkV2r0-g _0K478OhQEeyypbBkV2r0-g">
            <outgoingTransitions xmi:id="_x9eCIOhQEeyypbBkV2r0-g" specification="evFinLeerSensores" target="_uNWmjehQEeyypbBkV2r0-g"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_uNWmjehQEeyypbBkV2r0-g" name="MODIFICANDO PWM" incomingTransitions="_x9eCIOhQEeyypbBkV2r0-g">
            <outgoingTransitions xmi:id="_0K478OhQEeyypbBkV2r0-g" specification="after 500ms" target="_soloLehQEeyypbBkV2r0-g"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_u6OTkOhQEeyypbBkV2r0-g">
            <outgoingTransitions xmi:id="_vmdHcOhQEeyypbBkV2r0-g" specification="" target="_soloLehQEeyypbBkV2r0-g"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_IPEiAY_CEeaE_NItBGtDFQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_IPEiAI_CEeaE_NItBGtDFQ" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_IPEiMI_CEeaE_NItBGtDFQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_IPOTAI_CEeaE_NItBGtDFQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IPOTAY_CEeaE_NItBGtDFQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IPOTAo_CEeaE_NItBGtDFQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IPOTA4_CEeaE_NItBGtDFQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBI_CEeaE_NItBGtDFQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBY_CEeaE_NItBGtDFQ" y="-5" width="251" height="146"/>
    </children>
    <children xmi:id="_3DHfYUopEee0ZsqKOimupA" type="Region" element="_3DHfo0opEee0ZsqKOimupA">
      <children xsi:type="notation:DecorationNode" xmi:id="_3DHfYkopEee0ZsqKOimupA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3DHfY0opEee0ZsqKOimupA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3DHfZEopEee0ZsqKOimupA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_3DHfZUopEee0ZsqKOimupA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_3DHfikopEee0ZsqKOimupA" type="Entry" element="_3DNmEUopEee0ZsqKOimupA">
          <children xmi:id="_3DHfi0opEee0ZsqKOimupA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_3DHfjEopEee0ZsqKOimupA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_3DHfjUopEee0ZsqKOimupA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_3DHfjkopEee0ZsqKOimupA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3DHfj0opEee0ZsqKOimupA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3DHfkEopEee0ZsqKOimupA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3DHfkUopEee0ZsqKOimupA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_3DHfkkopEee0ZsqKOimupA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3DHfk0opEee0ZsqKOimupA" y="7" width="15" height="15"/>
        </children>
        <children xmi:id="_x6CwJOhPEeyypbBkV2r0-g" type="State" element="_x6CwIOhPEeyypbBkV2r0-g">
          <children xsi:type="notation:DecorationNode" xmi:id="_x6CwKOhPEeyypbBkV2r0-g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_x6CwKehPEeyypbBkV2r0-g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_x6CwKuhPEeyypbBkV2r0-g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_x6CwK-hPEeyypbBkV2r0-g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_x6CwLOhPEeyypbBkV2r0-g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x6CwLehPEeyypbBkV2r0-g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_x6CwLuhPEeyypbBkV2r0-g" type="StateFigureCompartment">
            <children xmi:id="_1u6XYO3KEey-SoqsjQNMng" type="Region" element="_x6CwI-hPEeyypbBkV2r0-g">
              <children xsi:type="notation:DecorationNode" xmi:id="_1u6XYe3KEey-SoqsjQNMng" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_1u6XYu3KEey-SoqsjQNMng"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_1u6XY-3KEey-SoqsjQNMng"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_1u6XZO3KEey-SoqsjQNMng" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_1u6XZe3KEey-SoqsjQNMng" type="Entry" element="_NO3zQOhQEeyypbBkV2r0-g">
                  <children xmi:id="_1u6XZu3KEey-SoqsjQNMng" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_1u6XZ-3KEey-SoqsjQNMng" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_1u6XaO3KEey-SoqsjQNMng"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_1u6Xae3KEey-SoqsjQNMng"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_1u6Xau3KEey-SoqsjQNMng" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1u6Xa-3KEey-SoqsjQNMng"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_1u6XbO3KEey-SoqsjQNMng" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_1u6Xbe3KEey-SoqsjQNMng" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1u6Xbu3KEey-SoqsjQNMng" x="3"/>
                </children>
                <children xmi:id="_1u6Xb-3KEey-SoqsjQNMng" type="State" element="_OqTPfehQEeyypbBkV2r0-g">
                  <children xsi:type="notation:DecorationNode" xmi:id="_1u6XcO3KEey-SoqsjQNMng" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_1u6Xce3KEey-SoqsjQNMng"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_1u6Xcu3KEey-SoqsjQNMng"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1u6Xc-3KEey-SoqsjQNMng" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_1u6XdO3KEey-SoqsjQNMng" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1u6Xde3KEey-SoqsjQNMng"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1u6Xdu3KEey-SoqsjQNMng" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_1u6Xd-3KEey-SoqsjQNMng" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_1u6XeO3KEey-SoqsjQNMng"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1u6Xee3KEey-SoqsjQNMng" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1u6Xeu3KEey-SoqsjQNMng" x="106" y="-16" width="133" height="53"/>
                </children>
                <children xmi:id="_1u6Xe-3KEey-SoqsjQNMng" type="State" element="_TXwdHehQEeyypbBkV2r0-g">
                  <children xsi:type="notation:DecorationNode" xmi:id="_1u6XfO3KEey-SoqsjQNMng" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_1u6Xfe3KEey-SoqsjQNMng"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_1u6Xfu3KEey-SoqsjQNMng"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1u6Xf-3KEey-SoqsjQNMng" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_1u6XgO3KEey-SoqsjQNMng" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1u6Xge3KEey-SoqsjQNMng"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1u6Xgu3KEey-SoqsjQNMng" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_1u6Xg-3KEey-SoqsjQNMng" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_1u6-cO3KEey-SoqsjQNMng"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1u6-ce3KEey-SoqsjQNMng" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1u6-cu3KEey-SoqsjQNMng" x="30" y="95"/>
                </children>
                <children xmi:id="_1u6-c-3KEey-SoqsjQNMng" type="State" element="_V2FgvehQEeyypbBkV2r0-g">
                  <children xsi:type="notation:DecorationNode" xmi:id="_1u6-dO3KEey-SoqsjQNMng" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_1u6-de3KEey-SoqsjQNMng"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_1u6-du3KEey-SoqsjQNMng"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1u6-d-3KEey-SoqsjQNMng" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_1u6-eO3KEey-SoqsjQNMng" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1u6-ee3KEey-SoqsjQNMng"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1u6-eu3KEey-SoqsjQNMng" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_1u6-e-3KEey-SoqsjQNMng" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_1u6-fO3KEey-SoqsjQNMng"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1u6-fe3KEey-SoqsjQNMng" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1u6-fu3KEey-SoqsjQNMng" x="96" y="247" width="160"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1u6-f-3KEey-SoqsjQNMng"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1u6-gO3KEey-SoqsjQNMng" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1u6-ge3KEey-SoqsjQNMng"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_x6CwJehPEeyypbBkV2r0-g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_x6CwJuhPEeyypbBkV2r0-g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_x6CwL-hPEeyypbBkV2r0-g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x6CwJ-hPEeyypbBkV2r0-g" x="367" width="355" height="411"/>
        </children>
        <children xmi:id="_7WO9w-hPEeyypbBkV2r0-g" type="State" element="_7WO9wOhPEeyypbBkV2r0-g">
          <children xsi:type="notation:DecorationNode" xmi:id="_7WYuwOhPEeyypbBkV2r0-g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7WYuwehPEeyypbBkV2r0-g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7WYuwuhPEeyypbBkV2r0-g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7WYuw-hPEeyypbBkV2r0-g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7WYuxOhPEeyypbBkV2r0-g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7WYuxehPEeyypbBkV2r0-g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7WYuxuhPEeyypbBkV2r0-g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7WO9xOhPEeyypbBkV2r0-g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7WO9xehPEeyypbBkV2r0-g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7WYux-hPEeyypbBkV2r0-g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7WO9xuhPEeyypbBkV2r0-g" x="6" y="50" width="56" height="53"/>
        </children>
        <children xmi:id="_o497xOhQEeyypbBkV2r0-g" type="State" element="_o497wOhQEeyypbBkV2r0-g">
          <children xsi:type="notation:DecorationNode" xmi:id="_o497yOhQEeyypbBkV2r0-g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_o497yehQEeyypbBkV2r0-g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_o497yuhQEeyypbBkV2r0-g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_o497y-hQEeyypbBkV2r0-g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_o497zOhQEeyypbBkV2r0-g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o497zehQEeyypbBkV2r0-g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_o497zuhQEeyypbBkV2r0-g" type="StateFigureCompartment">
            <children xmi:id="_o5HFsOhQEeyypbBkV2r0-g" type="Region" element="_o497w-hQEeyypbBkV2r0-g">
              <children xsi:type="notation:DecorationNode" xmi:id="_o5HFs-hQEeyypbBkV2r0-g" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_o5HFtOhQEeyypbBkV2r0-g"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_o5HFtehQEeyypbBkV2r0-g"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_o5HFtuhQEeyypbBkV2r0-g" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_soloIehQEeyypbBkV2r0-g" type="State" element="_soloLehQEeyypbBkV2r0-g">
                  <children xsi:type="notation:DecorationNode" xmi:id="_soloIuhQEeyypbBkV2r0-g" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_soloI-hQEeyypbBkV2r0-g"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_soloJOhQEeyypbBkV2r0-g"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_soloJehQEeyypbBkV2r0-g" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_soloJuhQEeyypbBkV2r0-g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_soloJ-hQEeyypbBkV2r0-g"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_soloKOhQEeyypbBkV2r0-g" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_soloKehQEeyypbBkV2r0-g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_soloKuhQEeyypbBkV2r0-g"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_soloK-hQEeyypbBkV2r0-g" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_soloLOhQEeyypbBkV2r0-g" x="80" y="-7" width="225" height="55"/>
                </children>
                <children xmi:id="_uNWmgehQEeyypbBkV2r0-g" type="State" element="_uNWmjehQEeyypbBkV2r0-g">
                  <children xsi:type="notation:DecorationNode" xmi:id="_uNWmguhQEeyypbBkV2r0-g" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uNWmg-hQEeyypbBkV2r0-g"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_uNWmhOhQEeyypbBkV2r0-g"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uNWmhehQEeyypbBkV2r0-g" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_uNWmhuhQEeyypbBkV2r0-g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNWmh-hQEeyypbBkV2r0-g"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uNWmiOhQEeyypbBkV2r0-g" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uNWmiehQEeyypbBkV2r0-g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_uNWmiuhQEeyypbBkV2r0-g"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uNWmi-hQEeyypbBkV2r0-g" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNWmjOhQEeyypbBkV2r0-g" x="102" y="100"/>
                </children>
                <children xmi:id="_u6OTkehQEeyypbBkV2r0-g" type="Entry" element="_u6OTkOhQEeyypbBkV2r0-g">
                  <children xmi:id="_u6OTlehQEeyypbBkV2r0-g" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_u6XdgOhQEeyypbBkV2r0-g" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_u6XdgehQEeyypbBkV2r0-g"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_u6XdguhQEeyypbBkV2r0-g"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_u6OTluhQEeyypbBkV2r0-g" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_u6OTl-hQEeyypbBkV2r0-g"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_u6OTkuhQEeyypbBkV2r0-g" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_u6OTk-hQEeyypbBkV2r0-g" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_u6OTlOhQEeyypbBkV2r0-g" x="-5" y="10"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o5HFt-hQEeyypbBkV2r0-g"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_o5HFsehQEeyypbBkV2r0-g" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o5HFsuhQEeyypbBkV2r0-g"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_o497xehQEeyypbBkV2r0-g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_o497xuhQEeyypbBkV2r0-g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_o497z-hQEeyypbBkV2r0-g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o497x-hQEeyypbBkV2r0-g" x="6" y="119" width="353" height="276"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3DHfoEopEee0ZsqKOimupA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_3DHfoUopEee0ZsqKOimupA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3DHfokopEee0ZsqKOimupA" x="250" y="-6" width="785" height="512"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_IPEiAo_CEeaE_NItBGtDFQ"/>
    <edges xmi:id="_9ezz0OhPEeyypbBkV2r0-g" type="Transition" element="_9eylsOhPEeyypbBkV2r0-g" source="_3DHfikopEee0ZsqKOimupA" target="_7WO9w-hPEeyypbBkV2r0-g">
      <children xsi:type="notation:DecorationNode" xmi:id="_9ezz1OhPEeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9ezz1ehPEeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9ezz1uhPEeyypbBkV2r0-g" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9ezz0ehPEeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9ezz0-hPEeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9ezz0uhPEeyypbBkV2r0-g" points="[2, 6, -67, 7]$[69, 1, 0, 2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9e2QEOhPEeyypbBkV2r0-g" id="(0.0,0.2830188679245283)"/>
    </edges>
    <edges xmi:id="_-QAnQOhPEeyypbBkV2r0-g" type="Transition" element="_-P-LAOhPEeyypbBkV2r0-g" source="_7WO9w-hPEeyypbBkV2r0-g" target="_x6CwJOhPEeyypbBkV2r0-g">
      <children xsi:type="notation:DecorationNode" xmi:id="_-QAnROhPEeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-QAnRehPEeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-QBOUOhPEeyypbBkV2r0-g" x="29" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-QAnQehPEeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-QAnQ-hPEeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-QAnQuhPEeyypbBkV2r0-g" points="[0, -13, -314, 52]$[68, -13, -246, 52]$[68, -74, -246, -9]$[311, -74, -3, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-QDDgOhPEeyypbBkV2r0-g" id="(1.0,0.6037735849056604)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-QDDgehPEeyypbBkV2r0-g" id="(0.011015325670498085,0.04072299651567944)"/>
    </edges>
    <edges xmi:id="_StQukOhQEeyypbBkV2r0-g" type="Transition" element="_StO5YOhQEeyypbBkV2r0-g" source="_1u6XZe3KEey-SoqsjQNMng" target="_1u6Xb-3KEey-SoqsjQNMng">
      <children xsi:type="notation:DecorationNode" xmi:id="_StRVoOhQEeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_StRVoehQEeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_StRVouhQEeyypbBkV2r0-g" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_StQukehQEeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_StQuk-hQEeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_StQukuhQEeyypbBkV2r0-g" points="[-2, 4, -59, 3]$[57, 4, 0, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_StUY8OhQEeyypbBkV2r0-g" id="(1.0,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_StUY8ehQEeyypbBkV2r0-g" id="(0.0,0.4905660377358491)"/>
    </edges>
    <edges xmi:id="_YwSoAOhQEeyypbBkV2r0-g" type="Transition" element="_YwQy0OhQEeyypbBkV2r0-g" source="_1u6Xb-3KEey-SoqsjQNMng" target="_1u6Xe-3KEey-SoqsjQNMng">
      <children xsi:type="notation:DecorationNode" xmi:id="_YwTPEOhQEeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YwTPEehQEeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YwTPEuhQEeyypbBkV2r0-g" x="-3" y="61"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YwSoAehQEeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YwSoA-hQEeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YwSoAuhQEeyypbBkV2r0-g" points="[3, 0, 4, -39]$[3, 37, 4, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YwVEQOhQEeyypbBkV2r0-g" id="(0.39097744360902253,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YwVrUOhQEeyypbBkV2r0-g" id="(0.7763975155279503,0.05660377358490567)"/>
    </edges>
    <edges xmi:id="_aZ3N4OhQEeyypbBkV2r0-g" type="Transition" element="_aZs10OhQEeyypbBkV2r0-g" source="_1u6Xe-3KEey-SoqsjQNMng" target="_1u6-c-3KEey-SoqsjQNMng">
      <children xsi:type="notation:DecorationNode" xmi:id="_aZ308OhQEeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aZ308ehQEeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aZ308uhQEeyypbBkV2r0-g" x="3" y="80"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aZ3N4ehQEeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aZ3N4-hQEeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aZ3N4uhQEeyypbBkV2r0-g" points="[0, 0, 28, -140]$[0, 134, 28, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aZ5qIOhQEeyypbBkV2r0-g" id="(0.8074534161490683,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aZ6RMOhQEeyypbBkV2r0-g" id="(0.2047257755936527,0.1320754716981132)"/>
    </edges>
    <edges xmi:id="_bG7IMOhQEeyypbBkV2r0-g" type="Transition" element="_bG6hIOhQEeyypbBkV2r0-g" source="_1u6-c-3KEey-SoqsjQNMng" target="_1u6Xb-3KEey-SoqsjQNMng">
      <children xsi:type="notation:DecorationNode" xmi:id="_bG7vQehQEeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bG7vQuhQEeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bG7vQ-hQEeyypbBkV2r0-g" x="4" y="48"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bG7IMehQEeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bG7vQOhQEeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bG7IMuhQEeyypbBkV2r0-g" points="[-36, -29, 0, 218]$[-36, -244, 0, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bG-LgOhQEeyypbBkV2r0-g" id="(0.9429793300071276,0.6226415094339622)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bG-LgehQEeyypbBkV2r0-g" id="(0.7894736842105263,0.9433962264150942)"/>
    </edges>
    <edges xmi:id="_vmeVkOhQEeyypbBkV2r0-g" type="Transition" element="_vmdHcOhQEeyypbBkV2r0-g" source="_u6OTkehQEeyypbBkV2r0-g" target="_soloIehQEeyypbBkV2r0-g">
      <children xsi:type="notation:DecorationNode" xmi:id="_vmeVlOhQEeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vmeVlehQEeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vmeVluhQEeyypbBkV2r0-g" x="15" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vmeVkehQEeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vmeVk-hQEeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vmeVkuhQEeyypbBkV2r0-g" points="[-8, -4, -84, 6]$[-8, -8, -84, 2]$[70, -8, -6, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vmhY4OhQEeyypbBkV2r0-g" id="(1.0,0.26666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vmhY4ehQEeyypbBkV2r0-g" id="(0.03111111111111111,0.23636363636363636)"/>
    </edges>
    <edges xmi:id="_x9eCIehQEeyypbBkV2r0-g" type="Transition" element="_x9eCIOhQEeyypbBkV2r0-g" source="_soloIehQEeyypbBkV2r0-g" target="_uNWmgehQEeyypbBkV2r0-g">
      <children xsi:type="notation:DecorationNode" xmi:id="_x9eCJehQEeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x9eCJuhQEeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x9eCJ-hQEeyypbBkV2r0-g" x="-3" y="66"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_x9eCIuhQEeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_x9eCJOhQEeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_x9eCI-hQEeyypbBkV2r0-g" points="[8, 50, 2, -74]$[8, 107, 2, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_x9nzIOhQEeyypbBkV2r0-g" id="(0.2,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_x9nzIehQEeyypbBkV2r0-g" id="(0.20689655172413793,0.3584905660377358)"/>
    </edges>
    <edges xmi:id="_0K6KEOhQEeyypbBkV2r0-g" type="Transition" element="_0K478OhQEeyypbBkV2r0-g" source="_uNWmgehQEeyypbBkV2r0-g" target="_soloIehQEeyypbBkV2r0-g">
      <children xsi:type="notation:DecorationNode" xmi:id="_0K6xIehQEeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0K6xIuhQEeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0K6xI-hQEeyypbBkV2r0-g" x="-3" y="44"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0K6KEehQEeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0K6xIOhQEeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0K6KEuhQEeyypbBkV2r0-g" points="[41, 0, -5, 64]$[41, -57, -5, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0K8mUOhQEeyypbBkV2r0-g" id="(0.3103448275862069,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0K8mUehQEeyypbBkV2r0-g" id="(0.5066666666666667,0.8727272727272727)"/>
    </edges>
    <edges xmi:id="_4iU2QOhQEeyypbBkV2r0-g" type="Transition" element="_4iToIOhQEeyypbBkV2r0-g" source="_7WO9w-hPEeyypbBkV2r0-g" target="_o497xOhQEeyypbBkV2r0-g">
      <children xsi:type="notation:DecorationNode" xmi:id="_4iVdUehQEeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4iVdUuhQEeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4iVdU-hQEeyypbBkV2r0-g" x="62" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4iU2QehQEeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4iVdUOhQEeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4iU2QuhQEeyypbBkV2r0-g" points="[0, 9, 48, -93]$[141, 9, 189, -93]$[141, 43, 189, -59]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4iYgoOhQEeyypbBkV2r0-g" id="(1.0,0.5471698113207547)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4iYgoehQEeyypbBkV2r0-g" id="(0.0113314447592068,0.2210144927536232)"/>
    </edges>
    <edges xmi:id="_MDd6oOhREeyypbBkV2r0-g" type="Transition" element="_MDcsgOhREeyypbBkV2r0-g" source="_o497xOhQEeyypbBkV2r0-g" target="_x6CwJOhPEeyypbBkV2r0-g">
      <children xsi:type="notation:DecorationNode" xmi:id="_MDehsehREeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MDehsuhREeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MDehs-hREeyypbBkV2r0-g" x="1" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MDd6oehREeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MDehsOhREeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MDd6ouhREeyypbBkV2r0-g" points="[131, 271, -364, 5]$[131, 316, -364, 50]$[497, 316, 2, 50]$[497, 271, 2, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MDhlAOhREeyypbBkV2r0-g" id="(0.13031161473087818,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MDhlAehREeyypbBkV2r0-g" id="(0.5127478753541076,0.9874055415617128)"/>
    </edges>
    <edges xmi:id="_T_9QEOhREeyypbBkV2r0-g" type="Transition" element="_T_7a4OhREeyypbBkV2r0-g" source="_x6CwJOhPEeyypbBkV2r0-g" target="_o497xOhQEeyypbBkV2r0-g">
      <children xsi:type="notation:DecorationNode" xmi:id="_T_93IehREeyypbBkV2r0-g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_T_93IuhREeyypbBkV2r0-g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_T_93I-hREeyypbBkV2r0-g" x="1" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_T_9QEehREeyypbBkV2r0-g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_T_93IOhREeyypbBkV2r0-g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_T_9QEuhREeyypbBkV2r0-g" points="[-140, 0, 173, 179]$[-140, 15, 173, 194]$[-460, 15, -147, 194]$[-460, 0, -147, 179]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UAA6cOhREeyypbBkV2r0-g" id="(0.8498583569405099,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UAA6cehREeyypbBkV2r0-g" id="(0.9886685552407932,0.34057971014492755)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
